.select-forum {
  background-color: var(--main-bg-color);
  height: 45px;
  border-radius: 5px !important;
}

.react-dropdown-select-content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  color: white;
  font-weight: 600;
  height: 30px;
  overflow: hidden;
}

.react-dropdown-select-content-text, .react-dropdown-select-content > span {
  margin-top: 5px;
  margin-left: 5px;
  word-break: break-all
}

.select-forum > .react-dropdown-select-dropdown-handle {
  color: white;
}


.select-forum > .react-dropdown-select-dropdown-handle > svg {
  width: 30px;
  height: 30px;
}

.select-forum > div > input.react-dropdown-select-input {
  height: 30px;
  font-size: inherit;
  color: white;
  font-weight: 600;
  margin-left: 30px;
}

.react-dropdown-select-input::placeholder {
  color: white;
  font-weight: 600;
}

.modal-body .select-forum > .react-dropdown-select-dropdown {
  width: 100%;
  left: 0px;
  top: 47px;
}

.select-forum > .react-dropdown-select-dropdown {
  z-index: 2000;
  width: auto !important;
  top: 45px;
}

span.react-dropdown-select-item {
  padding: 15px;
  padding-left: 30px;
  color: black;
  background-color: white;
  font-weight: normal !important;
}

span.react-dropdown-select-item.react-dropdown-select-item-selected {
  background-color: var(--hover-bg-color);
  color: white;
}

span.react-dropdown-select-item:hover,
span.react-dropdown-item-active {
  background-color: #E5E9F2 !important;
  color: black !important;
}

.custom-dropdown-item {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.dropdown-search-field {
  margin: 10px;
}

.select-forum:focus {
  background-color: var(--main-bg-color);
}

div.react-dropdown-select-loading::after {
  border-color: #FFF transparent;
}

.react-dropdown-select-clear {
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
}