.header {
  position: fixed;
  height: 90px;
  border-bottom: 2px solid #b3b3b3;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1040;
}

.nav-icon-purple {
  color: #0C267A;
}

.hamburguer-sidebar {
  width: 60px;
  height: 100%;
  display: block;
  float: left;
  text-align: center;
  padding-top: 32px;
  cursor: pointer;
}

.forum-logo-header > span {
  font-weight: 700;
  color: #47525E;
  font-size: 1.5rem;
}

.client-logo {
  margin-right: 30px;
}

.logo-link {
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  word-break: break-all;
  word-break: break-word;
}

.logo-link:link {
  color: #333;
  text-decoration: none;
}
.logo-link:hover {
  color: #333;
  text-decoration: none;
}

.user-bubble-container {
  padding: 15px;
  height: 100%;
}

.user-bubble-container:hover {
  background-color: #e6e6e6;
}

.user-bubble-container > a {
  display: block;
}

.user-bubble {
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu-header {
  z-index: 3050;
}

.dropdown-item {
  cursor: pointer;
  font-size: 0.8rem;
}

.dropdown-item:hover {
  background-color: var(--hover-bg-color);
}

.custom-link:hover {
  color: #007bff!important;
}