nav > ul.pagination {
  margin: 0;
}

.pagination > li.page-item.active a, .pagination > li.page-item.active span {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}

li.page-item a:hover, li.page-item span:hover {
  background-color: var(--hover-bg-color);
}

.pagination > li > span {
  cursor: pointer;
}