:root {
    --bubble-color: #fff;
}

.questions {
    top: 10px;
    width: 80%;
    margin: auto;
    padding: 50px;
}

.questions .questions-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid white;
    clear: both;
    margin-bottom: 3px;
    width: 100%;
}

.questions .question-body {
    top: 20px;
    background-color: #FFFFFF;
    float: left;
    padding: 0 0;
    width: 100%;
}

.questions-header .subtitle{
    font-size: 28px;
    background: none;
    text-transform: uppercase;
    margin: 5px 0 0;
    padding: 0 6px 0 0;
    color: #333;
    font-weight: bold;
}

.question-body, .summary {
    border-top: 1px dotted #CCCCCE;
    float: left;
    padding: 25px 0 25px 0;
    width: 100%;
    margin-bottom: 80px;
}

.summary .count { 
    float: left;
    clear: left;
    width: 100%;
    margin-right: 0;
    margin-top: 5px;
    padding-right: 2px;
    padding-top: 15px;
    margin-bottom: 5px;

}

.summary .count h4{
    font-size: 16px;
    color: #666666;
}

.summary .summary-wrapper{
    width: 100%;
    float: right;
    margin-left: 0px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.summary-wrapper h2 a {
    font-size: 18px;
}

.summary-wrapper h2 a {
    font-size: 18px;
}

.summary .tags {
    float: none;
    display: block;
    width: 100%;
    margin-top: 0;
    padding-left: 8px;
    word-break: break-all;
    word-break: break-word;
}

.tags {
    line-height: 12px;
}

.relativetime{
    text-decoration: none;
    color: #A9A9A9;
    margin-left: 5px;
}