.search {
    background-color: #f2f2f2;
    border-color: #dcdcdc;
    border-left: none;
    border-right: none;
    width: 90%;
    padding: 10px;
}

.btn-question {
    background:#0C267A;
    color: white;
  }

.btn-question a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    word-break: break-all;
    word-break: break-word;
}
  
.btn-question a:link {
    color: #fff;
    text-decoration: none;
}
.btn-question a:hover {
    color: #fff;
    text-decoration: none;
}