:root {
  --main-bg-color: #0C267A;
  --hover-bg-color: #86B5EB;
}

.like-icon {
  cursor: pointer;
}

.like {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-purple {
  color: var(--main-bg-color);
}

.purple-background {
  background-color: var(--main-bg-color);
  color: white;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

table.table-hover > tbody > tr:hover {
  background-color: #C5B3CD;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #E6E6E6;
}

table.table-bordered {
  border: 0;
}

table.table-bordered tbody {
  border: 1px solid #ccc;
}

table.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th {
  border: 0;
  border-bottom: 1px solid #ddd;
}

table.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 0;
}

.table-container {
  width: 99.9%
}

.table-header-filter {
  height: 80px;
  background-color: #E6E6E6;
  border-radius: 3px;
}

table.table-selectable-rows tr {
  cursor: pointer;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

div.modal-content > .modal-header {
  height: auto;
}

.btn, .form-control {
  height: 45px;
}

.add-component {
  color: #47525E;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
}

.add-link {
  color: #47525E;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 10px;
  word-break: break-all;
  word-break: break-word;
}

.add-link:hover {
  color: var(--main-bg-color);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
}

.form-container {
  background-color: #E6E6E6;
}

.form-title {
  border-bottom: 3px solid var(--main-bg-color);;
  padding: 10px;
  color: #47525E;
}

div.form-title > h4 {
  font-weight: 700 !important;
}

.form-body {
  padding: 20px;
}

.form-footer {
  padding: 10px;
  border-top: 3px solid var(--main-bg-color);;
}

.form-control-row {
  padding: 7px;
}

.form-field-required {
  color: red;
  font-weight: 700;
  font-size: 1.5em;
  text-align: right;
}

.bigger-text {
  font-size: 1.2em;
}

.close-icon-outside-form {
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
}

.selectable {
  cursor: pointer;
}

.form-control-custom {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  background: transparent !important;
  margin: 0px;
  padding: 0;
  height: 20px;
  border-radius: 0;
  font-size: 1.08em;
  color: black;
}

.form-control-custom:focus {
  outline-style:none !important;
  box-shadow:none !important;
  border-color:transparent !important;
  border-bottom: 1px solid black !important;
  color: black;
}

input:focus, textarea:focus {
  outline-style:none !important;
  box-shadow:none !important;
  border-color:transparent !important;
  border: 1px solid black !important;
}

.notification-message {
  font-size: 1.3em !important;
}

.btn-shadow {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.table thead th {
  vertical-align: top !important;
}

.bubble {
  background-color: #FFF;
  color: #777777;
  font-size: 11px;
  font-weight: normal;
  padding: 3px 6px 4px 11px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0 3px 3px 0;
  position: relative;
  display: inline-block;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 8px;
}

.bubble:after {
  content: '';
  background: url(./assets/images/ribbon-tag.png);
  height: 21px;
  width: 19px;
  position: absolute;
  top: -1px;
  left: -8px;
  background-repeat: no-repeat;
}  

.pagination-flex-left{
  position: relative;
  float: left;
  bottom: 90px;
  margin-left: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}