.footer {
  height: 80px;
  background-color: #4C4C4C;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}

.copyright {
  margin-top: 30px;
  text-align: center;
}

.mutant-logo-footer {
  margin-right: 30px;
}